
{% unless customer %}
    <style>
        .header__signin
        #customer_login_link {
            font-size: 13px;
            background: #FC7238;
            border-radius: 24px;
            padding: 10px 20px;
            text-decoration: none;
            color: black;
        }
    </style>
    <div class="header__signin">
        
    <!-- https://shopify.dev/docs/api/liquid/filters 
      {{  'Sign in' | customer_login_link }}
      -->
      <a href="/pages/contact?contact=buyer" id="customer_login_link">Register for Access</a>

    </div>

{% endunless %}