{% unless customer %}
    <div class="register-for-access-modal">
      <div class=" page-width">
        <p>Like What You Hear?</p>
        <h3>Register for access</h3>
          <p>Provide your business' information, receiver your login credentials, and gain access to the high quality and fairest priced inventory in the market today. It's as simple as that.</p>
          <br>
          <a href="" class="btn">Register for access</a>
      </div>
    </div>
    {% endunless %}