{% unless customer %}
  <div class="register-for-access-message">
    <div class=" page-width">
      <p class="mono">Still unsure?</p>
      <h3 class="mono">Contact Our Team</h3>
        <p class="message">We're here to help with any questions you may have. Connect with our team to learn more about how the platform works, how your business can benefit,  and how we can work together toward the circular economy. Talk with you soon!</p>
        <br>
        <a href="/pages/contact?contact=buyer" class="btn register-for-access-button">Contact Us</a>
    </div>
  </div>
{% endunless %}

    