.blog {

}
.blog__image {
  //border-bottom: 1px solid grey;
  margin-bottom: 40px;
  background-color: #EAE9E8;
  border-radius: 10px;
  
  .blog_small_hero &  {
    border-bottom: 0;
  }
  
}
.blog__image img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
  
}
.blog__article {
  display: flex;
  margin-top: 3em;
  p {
    font-size: 16px;
    line-height: 2.4em;
    margin-bottom: 2.5em;
  }
}
.blog__col_1, .blog__col_2 {

}
.blog__col_1 {
  flex: 2;
}
.blog__col_1 p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
}
.blog__col_2 {
  flex: 8;
  padding-left: 2em;
}
.blog__col_2 h1 {
  margin-top: 0;
  font-size: 50px;
  color: #1A1A1A;
  letter-spacing: 0.4px;
  font-weight: 500;
}
.blog__max-width {
  max-width: 700px;
}
.blog__excerpt {
  font-weight: 300;
  font-size: 30px;
  line-height: 1.2em;
  display: block;
  margin-bottom: 1em;
 
}