.btn {
    color: #222222;
    text-decoration: none;
    padding: 10px 30px;
    background-color: #FF730C;
    border-radius: 23px;
    display: inline-flex;
    justify-content: center;
    border: none;
    outline: none;
    &:hover {
        background-color: #fe8630;
    }
}
button.btn {
    padding: 19px 30px;
    font-size: 16px;
}
.btn.grey {
    background-color: #D8D8D8;
    &:hover {
        background-color: lighten(#D8D8D8, 20%)
    }
}
.btn.disabled {
    background-color: rgba(0,0,0,0);
    border: 1px solid rgb(32,32,32);
    opacity: 0.4;
}
.btn.wide {
    min-width: 270px;
}
.btn.small {
    padding: 2px 30px;
    font-size: 15px;
}
.btn.back {
    min-width: 130px;
    
}
.header__signin #customer_login_link:hover {
    background-color: lighten(#FF730C, 20%)
}