.collection-alt-collection .facets-container {
    background: #FFFFFF;
    border: 1px solid #C5C5C5;
    border-radius: 8px;
    padding-left: 15px;
    padding-right: 15px;
}
div[class^='card-product-list__'], div[class*='card-product-list__']{
    @media screen and (min-width: 500px) {

        display: flex;
        align-items: center;
    }
}

.card-product-list {
    display: flex;
    flex-direction: column;
    justify-content: left;
    @media screen and (min-width: 500px) {
        flex-direction: row;

        display: flex;
        justify-content: space-between;
    }
}

.card-product-list__col1 {
    padding-right: 10px;
    flex: 1.25;
}
.card-product-list__col2 {
    //width: 100%;
    flex: 0.9;
    justify-content: center;

}
.card-product-list__col3 {
    flex: 0.7;
    justify-content: center;
}
.card-product-list__col4 {
    //flex: 1;
    flex: 0.5;
    padding-right: 10px;
    justify-content: center;
    

}
.card-product-list__col5 {
    flex: 0.7;
    justify-content: center;

}
.card-product-list__col6 {
    padding-right: 10px;
    flex: 1.2;
}
.card-product-list__col7  {
    flex: 0.7;
    justify-content: center;

}


.card-product-list.top {
    width: 100%;
    font-size: 14px;
    .info {
        position: relative;
        top: 3px;
        left: 5px;
    }
    .card-product-list__col1,
    .card-product-list__col2,
    .card-product-list__col3,
    .card-product-list__col4, 
    .card-product-list__col5,
    .card-product-list__col6,
    .card-product-list__col7 {
        text-align: center;
    }
    .card-product-list__col3 {
        max-width: 120px;
    }
    .card-product-list__col7 {
        //width: 144px;
        
    }
}
#FacetSortForm {
    .row {
        display: flex;
        
    }
    .col-1 {
        width: 320px;
        padding-right: 3rem;
        h2 {
            margin-bottom: 0;
        }
    }
    .col-1, .col-2 {
        padding-bottom: 2em;
    }
    select {
        background: white;
        padding: 10px 20px;
        font-size: 16px;
        width: 230px;
        
    }
    .select {
        svg {
            right: 10px;
        }
    }
}

.product-grid-container {
    background-color: white;
    //padding: 15px;
    border: 1px solid #C5C5C5;
    border-radius: 8px;
    li {
        padding: 14px 15px;
    }
    li:nth-of-type(even) {
        background-color: #f5f4f4;
    }
    .card-product-list.top {
        padding: 15px 15px;
        border-bottom: 1px solid #C5C5C5;
    }
    .circle {
        width: 12px;
        height: 12px;
        @media screen and (max-width: 499px) {
            position: relative;
            top: -10px;
        }
    }

    button {
       // background: url('');
        background-color: transparent;
        outline: none;
        border: none; 
        padding: 0 2rem;
        border-radius: 20px;
        &:hover {
            background-color: #ffaf73;
        }
        &:before, &:after {
            display: none;
        }
    }
}
@media screen and (min-width: 990px) {
    #product-grid {
        max-height: 700px;
        overflow-y: auto;
    }
}

.collection-alt-collection {
    option[value="best-selling"] {
        display: none;
    }
}
.collection-alt-collection .facets-vertical {
    @media screen and (max-width: 989px) {
        display: flex;
        flex-direction: column;
        aside {
            margin-bottom: 1.5em;
        }
        aside, .facets-container {
            width: 100%;
            padding-right: 0;
        }
    }
    .facets__price {
        input {
            background-color: white;
        }
    }
}