.footer--info {
    margin: 0;
    padding: 0;
    list-style: none;
    font-weight: 600;
    color: white;
    .row {
        display: flex;
    }
    a {
        color: white;
        text-decoration: none;
    }
    .mail {
        margin-bottom: 5px;
        svg {
            margin-right: 8px;
        }
    }
    .location {
        svg {
            margin-right: 14px;
        }
    }
}

.footer__content-top {
    .row {
        display: flex;
        @media screen and (max-width: 749px) { 
            flex-wrap: wrap;
        }
    }
    .linkedin {
        width: 100px;
        img {
            width: 38px;
        }
    }
    .links {
        flex-grow: 1;
        text-align: right;
        @media screen and (max-width: 749px) { 
            text-align: center;
        }
        a {
            color: white;
            text-decoration: none;
            font-size: 24px;
            font-weight: 400;
        }
    }
    .contact {
        display: inline-block;
        margin-right: 20px;
    }
}