.hero-home-container {
    position: relative;
    overflow: hidden;
}
#svg-bg {
    position: absolute;
    top: -300px;
    left: 0
}
#nissan-logo {
    display: inline-block;
    position: relative;
    top: 45px;
    width: 122px;
    margin-left: 30px;
}

.hero-home {
    // background-color: #121114;
    position: relative;
    z-index: 2;
    text-align: center;
    padding-top: 8em;
    padding-bottom: 8em;
    display: flex;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  
    @media screen and (min-width: 990px) {
        .row {
            display: flex;
        }
        .col1 {
            text-align: left;
            width: 50%;
        }
        .col2 {
            width: 50%;
        }
    }
    img {
        @media screen and (min-width: 990px) {
            margin-top: 1.5em;
        }
        width: 100%;
        max-width: 650px ;
    }
    & > div {
        max-width: 1024px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2em;
    }
    h1,h3,h3,h4,h5,h6,p {
       //  color: white;
    }
    p {
        font-weight: 500;
        font-size: 20px;
        font-family: 'Roboto Mono', monospace;
    }
    h1 {
        font-size: 50px;
        font-weight: 500;
        margin-top: 0;
    }
    h4 {
        font-size:30px;
        font-weight: 100;
       
    }
    .btn {
        margin-right: 0.8em;
        display: inline-flex;

    }
    .buttons {
        margin-bottom: 2em;
    }
    .btn {
        font-size: 16px;
        padding: 10px 30px;
        @media screen and (max-width: 749px) { 
            margin-bottom: 1em;
        }
    }
    .secondary {
        background-color: white;
        color: black;
    }
    .tertiary {
        color: black;
        background-color: rgba(255, 115, 12, .25);
    }
}