$marginBottom: -130px;

.hero-home-container {
    position: relative;
    overflow: hidden;
    margin-bottom: $marginBottom;
    &.signed-in {
        h4, h1 {
            margin-top: 0;
            margin-bottom: 0.25em;
        }
        .hero-home-mb {
            margin-bottom: 1em;
        }
    }

}
#svg-bg {
    position: absolute;
    top: -300px + $marginBottom;
    left: 0
}
#nissan-logo {
    display: inline-block;
    position: relative;
    top: 45px;
    width: 122px;
    margin-left: 30px;
}

.hero-home {
    // background-color: #121114;
    position: relative;
    z-index: 2;
    text-align: center;
    padding-top: 6em;
    padding-bottom: 8em;
    .signed-in & {
        padding-top: 5em;
        padding-bottom: 17em;
    }
    display: flex;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  
    @media screen and (min-width: 990px) {
        .row {
            display: flex;
        }
        .col1 {
            text-align: left;
            width: 50%;
            .signed-in & {
                padding-right: 3em
            }
        }
        .col2 {
            width: 50%;
            .signed-in & {
                padding-left: 3em;
                display: flex;
                align-items: center;
                justify-content: center;
            }

        }
    }
    img {
        width: 100%;
        max-width: 650px ;
    }
    & > div {
        max-width: 1024px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2em;
    }

    .signed-in & > div {
        max-width: var(--page-width);
    }
    h1,h3,h3,h4,h5,h6,p {
       //  color: white;
    }
    p {
        font-weight: 500;
        font-size: 20px;
        font-family: 'Roboto Mono', monospace;
    }
    h1 {
        font-size: 50px;
        font-weight: 500;
        margin-top: 0;
    }
    h4 {
        font-size:30px;
        font-weight: 100;
       
    }
    .btn {
        margin-right: 0.8em;
        display: inline-flex;

    }
    .buttons {
        margin-bottom: 2em;
    }
    .btn {
        font-size: 16px;
        padding: 10px 30px;
        @media screen and (max-width: 749px) { 
            margin-bottom: 1em;
        }
    }
    .secondary {
        background-color: white;
        color: black;
    }
    .tertiary {
        color: black;
        background-color: rgba(255, 115, 12, .25);
    }
}