.hero-home-container {
    position: relative;
    overflow: hidden;
}
#svg-bg {
    position: absolute;
    top: -500px;
    left: 0
}
#nissan-logo {
    display: inline-block;
    position: relative;
    top: 25px;
    width: 75px;
    margin-left: 30px;
}

.hero-home {
    // background-color: #121114;
    position: relative;
    z-index: 2;
    text-align: center;
    padding-top: 8em;
    padding-bottom: 8em;
    display: flex;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    & > div {
        max-width: 1024px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2em;
    }
    h1,h3,h3,h4,h5,h6,p {
       //  color: white;
    }
    p {
        font-weight: 500;
        font-size: 20px;
        font-family: 'Roboto Mono', monospace;
    }
    h1 {
        font-size: 50px;
        font-weight: 500;
        margin-top: 0;
    }
    h4 {
        font-size:30px;
        font-weight: 100;
       
    }
    .btn {
        margin-left: 0.5em;
        margin-right: 0.5em;
        display: inline-flex;

    }
    .buttons {
        margin-bottom: 2em;
    }
    .btn {
        font-size: 16px;
        padding: 10px 30px
    }
    .secondary {
        background-color: white;
        color: black;
    }
}