hr {
    border: none;
    height: 0.1rem;
    background-color: rgba(var(--color-foreground), 0.2);
    display: block;
    margin: 5rem 0;
  }
  
  @media screen and (min-width: 750px) {
    hr {
      margin: 7rem 0;
    }
  }
  .simple-horizontal-rule hr {
    margin: 0;
  }