body.index {
    overflow-x: hidden;
    .header-wrapper, .announcement-bar  {
        background-color: #efe7e0;
        // background-color: var(--gradient-base-background-2);
    }
    section .page-width {
        position: relative;
        z-index: 2;
    }
}
#bg-custom-homepage1 {
    position: absolute;
    z-index: 1;
    top: 141%;
    right: -290px;
  }
  #bg-custom-homepage2 {
    position: absolute;
    z-index: 1;
  }

#waves-top, #waves-bottom {
    img {
        position: absolute;
        width: 100%;
    }
}
