body.index {
    .header-wrapper, .announcement-bar  {
        background-color: #efe7e0;
        // background-color: var(--gradient-base-background-2);
    }
}
#bg-custom-homepage1 {
    position: absolute;
    z-index: 0;
    top: 100%;
    right: -290px;
  }