//modal

.register-for-access-modal {
    background-color: #383838;
    text-align: center;
    padding-top: 5em;
    padding-bottom: 6em;
    p, h3 {
        color: white;
    }
    h3 {
        font-size: 36px;
    }
}