/* section-announcement-bar */
#shopify-section-announcement-bar {
    display: none;
    .index & {
      display: block;
    }
  }
  .announcement-bar {
    padding-bottom: 22px;
  }
  .announcement-bar div p {
    background-color: #ff730c40;
    border-radius: 22px;
    padding: 1rem 0;
  }
  .announcement-bar__link {
    display: block;
    width: 100%;
    text-decoration: none;
  }
  
  .announcement-bar__link:hover div p {
    color: rgb(var(--color-foreground));
    background-color: rgba(var(--color-card-hover), 0.06);
  }
  
  .announcement-bar__link .icon-arrow {
    display: inline-block;
    pointer-events: none;
    margin-left: 0.8rem;
    vertical-align: middle;
    margin-bottom: 0.2rem;
  }
  
  .announcement-bar__message {
    padding: 1rem 0;
    margin: 0;
    letter-spacing: 0.1rem;
  }