.simple-product-images {
    .relative {
        position: relative;
        border: 1px #C5C5C5 solid;
        border-radius: 4px;
    }
    .images {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 10px;
        height: 100%;
        
        div {
            background-color: #ffffff;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: filter 200ms;
            cursor: pointer;
            &:hover {
                filter: brightness(0.73) ;
            }

        }
        div:nth-of-type(1) {
            grid-row-start: 1;
            grid-column-start: 1;

            grid-row-end: 3;
            grid-column-end: 3;
            border-radius: 15px 0px 0px 15px;
            img {
                border-radius: 15px 0px 0px 15px;
            }
        }
        div:nth-of-type(3){
            border-radius: 0px 15px 0px 0px;
        }
        div:nth-of-type(5){
            border-radius: 0px 0px 15px 0px;
        }
    }
    .info {
        position: absolute;
        bottom: 4px;
        left: 14px;
        z-index: 2;
    }
    img {
        max-width: 100%;
        width: 100%;
        object-fit: contain;
        object-position: 50% 50%; /* default position */
    }
}