.simple-specs {
    .container {
        border: 1px solid #D5D5D5;
        border-radius: 0 0 8px 8px;

    }
    .image {
        padding: 15px;
    }
    .row:nth-of-type(odd) {
        background-color: #F9F9F9;
    }
}