.simple-product-title  .simple-content {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 100%;
    justify-content: space-between;
    
    h2 {
        flex: 1;
    }
    .social-media {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 4px;
        padding-bottom: 4px;
        border-radius: 15px;
        cursor: pointer;
        &:hover {
            background-color: #edeae6;
            .social-menu {
                display: block;
            }
        }
    }
    .social-menu {
        position: absolute;
        background-color: white;
        padding: 10px 10px;
        z-index: 5;
        background: #FFFFFF;
        border: 1px solid #C5C5C5;
        box-shadow: 0 2px 23px -10px rgba(0, 0, 0, 0.3);
        border-radius: 8px;
        right: 50px;
        display: none;
        a {
            color: #222222;
            text-decoration: none;
        }
        svg {
            width: 20px;
            max-height: 20px;
        }
        .facebook svg {
            position: relative;
            top: 3px;
        }
        .twitter svg {
            position: relative;
            top: 3px;
        }
        .linkedin svg {
            position: relative;
            top: 4px;
        }
        .copy svg {
            position: relative;
            top: 4px;
            left: -1px;
        }
        .copy {
            position: relative;
        }
        .copied {
            opacity: 0;
            transition: opacity .2s;
            position: absolute;
            background-color: #FFFFFF;
            border-bottom: 1px solid #C5C5C5;
            padding-left: 30px;
            padding-right: 30px;
        }
        & > div {
            padding-bottom: 5px;
            padding-top: 5px;
            border-bottom: 1px solid #C5C5C5;
            padding-left: 20px;
            padding-right: 20px;
            text-align: center;
            &:first-of-type {
                padding-top: 0;
            }
            &:last-of-type {
                border-bottom: none;
                padding-bottom: 0px;
            }
        }
    }
}
.showcopy .copied {
    opacity: 1 !important;
}
@media screen and (min-width: 990px){
    .social-media {
       //margin-right: 5px;
    }
    body.gradient .simple-product-title  .simple-content {
        max-width: 100%;
        padding-right: 0;
    }
}