.simple-test-information  {
    .row {
        display: flex;
        align-items: center;
        width: 100%;
    }
    .col-2 {
        flex: 1;
        text-align: right;
    }
    #soh-percentage {
        font-size: 28px;
    }
    #calendar-icon {
        margin-left: 30px;
        margin-right: 20px;
    }
}