.simple-product-images {
    .relative {
        position: relative;
        border: 1px #C5C5C5 solid;
        border-radius: 15px;
        margin-bottom: 45px;
        @media screen and (min-width: 990px) {
          margin-bottom: 0;
        }
    }
    .images {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 10px;
        height: 100%;
        
        div {
            background-color: #ffffff;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: filter 200ms;
            cursor: pointer;
            &:hover {
                filter: brightness(0.73) ;
            }

        }
        div:nth-of-type(1) {
            grid-row-start: 1;
            grid-column-start: 1;

            grid-row-end: 3;
            grid-column-end: 3;
            border-radius: 15px 0px 0px 15px;
            img {
                border-radius: 15px 0px 0px 15px;
            }
        }
        div:nth-of-type(3){
            border-radius: 0px 15px 0px 0px;
        }
        div:nth-of-type(5){
            border-radius: 0px 0px 15px 0px;
        }
    }
    .info {
        position: absolute;
        bottom: 4px;
        left: 14px;
        z-index: 2;
    }
    .btn {
      @media screen and (min-width: 990px) {

        right: 15px;
        bottom: 15px;
      }
      bottom: -65px;
      position: absolute;

        padding: 6px 26px;
        svg {
            margin-top: 6px;
            margin-right: 10px;
        }
    }
    img {
        max-width: 100%;
        width: 100%;
        object-fit: contain;
        object-position: 50% 50%; /* default position */
    }
}

.simple-product-images-modal {
  display: none;
  position: absolute;
  position: fixed; /* Stay in place */
  z-index: 5; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */ 
  .image {
    width: 100%;
    img {
        width: 100%;
    }
  }
}
/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: calc(100% - 30px);

  @media screen and (min-width: 990px) {
  width: 80%; /* Could be more or less, depending on screen size */
  }
  position: relative;
}
.modal-buttons {
  position: absolute;
  bottom: 10px;
}
/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
