.test-information {
    background-color: #F1F1F1;
    img {
        max-width: 80px;
    }
    .col1 {
        padding-right: 40px;
    }
    .page-width, .stats {
        display: flex;
    }
    .stats {
        font-weight: 600;
    }
    .stat1 {
        padding-right: 1em;
    }
    h3 {
        padding-top: 0;
        margin-top: 0;
    }
}
