/* outline and border styling for Windows High Contrast Mode */
@media (forced-colors: active) {
    .button,
    .shopify-challenge__button,
    .customer button {
      border: transparent solid 1px;
    }
  
    .button:focus-visible,
    .button:focus,
    .button.focused,
    .shopify-payment-button__button--unbranded:focus-visible,
    .shopify-payment-button [role="button"]:focus-visible,
    .shopify-payment-button__button--unbranded:focus,
    .shopify-payment-button [role="button"]:focus {
      outline: solid transparent 1px;
    }
  
    .field__input:focus,
    .select__select:focus,
    .customer .field input:focus,
    .customer select:focus,
    .localization-form__select:focus.localization-form__select:after {
      outline: transparent solid 1px;
    }
  
    .localization-form__select:focus {
      outline: transparent solid 1px;
    }
  }
  