{% unless customer %}
    <div class="register-for-access-message">
      <div class=" page-width">
        <p class="mono">{{ section.settings.sub_head }}</p>
        <h3 class="mono">{{ section.settings.head }}</h3>
          <p class="message"{{ section.settings.content }}!</p>
          <br>
          <a href="/pages/contact?contact=buyer" class="btn register-for-access-button">Contact Us</a>
      </div>
    </div>
  {% endunless %}
  
  
  {% schema %}
  {
     "name": "register-for-access",
     "settings": [
      {
        "type": "text",
        "id": "sub_head",
        "label": "Subheader"
      }, 
      {
        "type": "text",
        "id": "head",
        "label": "Subheader"
      }, 
      {
        "type": "textarea",
        "id": "content",
        "label": "Subheader"
      }, 
      {
        "type": "color",
        "id": "background_color",
        "label": "Background color"
      }
     ],
     "presets": [
        {
            "name": "Register For Access"
        }
     ]
  }
  {% endschema %}