.contact img {
  max-width: 100%;
}

.contact .form__message {
  align-items: flex-start;
}

.contact .icon-success {
  margin-top: 0.2rem;
}

.contact .field {
  margin-bottom: 1.5rem;
  
}
.contact .field input {
  background-color: white;
  
}
.contact .field:after {
  border-radius: 10px;
}
.contact .field textarea {
  background-color: white;
  border-radius: 10px;
}
@media screen and (min-width: 750px) {
  .contact .field {
    margin-bottom: 1.1rem;
  }
}

.contact__button {
  margin-top: 3rem;
}

@media screen and (min-width: 750px) {
  .contact__button {
    margin-top: 3rem;
  }
}
#ContactForm {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 440px;
}
#ContactForm .btn {
  width: 100%;
}

@media screen and (min-width: 750px) {
  .contact__fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
  }
}
